.NotesAdmin {
  padding: 0 20px 0 20px;

  .table-notes-admin {
    
    .header-table-notes-admin {
      font-size: 1.8rem;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .body-table-notes-admin {
      font-size: 1.5rem;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}